.about p {
  font-size: 1.1rem;
}

.aboutUsSection {
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  gap: 2rem;
  justify-content: space-around;
  padding-block: 2rem;
}
.aboutUsContent {
  width: min(90vw, 50ch);
}
.aboutUsContent h2 {
  font-size: 2.5rem;
}

.about img {
  width: 400px;
  aspect-ratio: 4/4;
  border-radius: 12px;
  object-fit: cover;
}
.aboutUsContent p {
  line-height: 1.8;
  font-size: 1.1rem;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  min-height: 70vh;
}

.card {
  max-width: 550px;
  padding-inline: 2rem;
  padding-block: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  display: grid;
  row-gap: 1.2em;
  border-radius: 12px;
}
.card h4 {
  font-size: 2rem;
}
.whyContainer {
  max-width: 90%;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  gap: 3rem;
  min-height: 70vh;
  padding-block: 3rem;
}
.whyContent p {
  width: min(90vw, 60ch);
  padding-top: 0.8rem;
  text-wrap: pretty;
  font-size: 1.1rem;
}

.whyContent h3 {
  font-size: clamp(1.9rem, 3.5vw, 2.5rem);
}

@media (max-width: 1200px) {
  .aboutUsSection {
    flex-direction: column;
    padding-inline: 2rem;
    align-items: center;
  }
  .whyContainer {
    flex-direction: column;
    align-items: center;
  }
}
