.contactSection {
  display: flex;
  justify-content: center;
  padding-block: 5rem;
  background: linear-gradient(to left, #ffffff, #f0ebf6);
}
.wrapper {
  display: flex;
  gap: 4rem;
}
.content p {
  width: 50ch;
}
.contactForm {
  max-width: 400px;
  padding-inline: 2rem;
  padding-block: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 9px;
  align-self: flex-start;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #fff;
}

.contactForm button {
  background-color: black;
  border-radius: 7px;
  padding-inline: 15px;
  padding-block: 10px;
  color: white;
  outline: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
.submitButton {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
}
.contactForm button:focus {
  border: 1px solid black;
}
.map {
  height: 500px;
  margin: 4rem;
}
.map iframe {
  width: 100%;
  border-radius: 9px;
  height: 100%;
  border: none;
}
@media (max-width: 990px) {
  .wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
