@keyframes show-content {
  50% {
    transform: translateY(-2rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

@keyframes remove-content {
  to {
    overflow: initial;
  }
}

@media (max-width: 450px) {
  .counterWrapper {
    display: block;
  }
}

@media (max-width: 700px) {
  .digitalContainer {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .sliderImg {
    width: 200px;
    height: 200px;
  }
  .buttons {
    flex-direction: column;
  }
}

@media (max-width: 1060px) {
  .cardWrapper {
    flex-wrap: wrap;
  }
  .counterWrapper {
    display: block;
    gap: 2rem;
  }
  .RowreversePortfolio {
    flex-direction: column !important;
  }
  .row {
    flex-direction: column !important;
  }
  .homeContact {
    flex-direction: column;
  }
}

.digitalContainer {
  display: flex;
  justify-content: center;
  /* align-items: center;   */
  /* gap: 3rem; */
  /* margin-top: 4rem; */
}
.digitalImg {
  width: 200px;
  border-radius: 14px;
  aspect-ratio: 1.5;
  object-fit: cover;
}
.digitalHeroImage {
  display: flex;
  justify-content: end;
}

.digitalContent > h2 {
  font-size: clamp(2rem, 2.5vw, 7rem);
  background: linear-gradient(90deg, #00ffa3, #0071ff, #5b00ff);
  background-color: black;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 700;
  -webkit-text-fill-color: transparent;
  /* padding-top: 5rem; */
}
.digitalContent h5 {
  font-size: clamp(1rem, 1.5vw, 3rem);
}
.card {
  display: grid;
  gap: 1rem;
  max-width: 400px;
  /* padding: 1.3rem; */
  /* background-color: #ffffff; */
  border-radius: 8px;
}
.card:hover {
  transition: all 0.3s ease;
  transform: scale(1.1);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.card > img {
  border-radius: 9px;

  position: relative;
}
.card .buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.buttons button:nth-child(1) {
  padding-inline: 8px;
  padding-block: 7px;
  outline: none;
  border: none;
  border-radius: 8px;
  background-color: hsla(240, 2%, 11%);
  color: white;
  cursor: pointer;
  min-width: fit-content;
}
.buttons button:nth-child(1):hover {
  transition: all 0.2s ease;
  transform: scale(1.1);
}

.buttons button:nth-child(2):hover {
  transition: all 0.2s ease;
  transform: scale(1.1);
}

.buttons button:nth-child(2) {
  padding-inline: 8px;
  padding-block: 5px;
  outline: none;
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  cursor: pointer;
  background-color: #96d8c0;
}
.cards {
  margin-block: 6rem;
  min-height: 95vh;
  /* background-color: black; */
  background: linear-gradient(45deg, #f6e6fb, #ffffff, #ffffff);
  /* padding-inline: 2rem; */
  /* padding-block: 4rem; */
  display: grid;
  place-content: center;
}
.cards > h2 {
  font-size: 2rem;
  display: flex;
  justify-content: center;
}
.imgGif {
  width: 100%;
  height: 600px;
  object-fit: cover;
}
.imageSlider {
  position: relative;
}
.slideImgContainer {
  /* overflow: hidden; */
  padding-block: 2rem;
  display: flex;
  gap: 1rem;
  /* position: absolute; */
  left: 0;
  /* background-color: rgb(24 24 27); */
}
.sliderImg {
  position: relative;
  height: 300px;
  width: 350px;
  display: flex;
  justify-content: center;
  border-radius: 9px;
  flex-shrink: 0;
  align-items: center;
}
.sliderImg img {
  object-fit: cover;
  border-radius: 9px;
  width: 100%;
  height: 100%;
}
.overlayContainer {
  position: absolute;
  inset: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay {
  position: absolute;
  background-color: black;
  opacity: 50%;
  pointer-events: none;
  height: 100%;
  width: 100%;
}

.cardWrapper {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}

.counterWrapper {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-top: 2rem;
}
.counter span:nth-child(1) {
  font-size: clamp(1rem, 2vw, 4rem);
  font-weight: 500;
  white-space: nowrap;
}
.counter span:nth-child(2) {
  font-size: clamp(1.5rem, 1.4vw, 4rem);
  font-weight: 400;
  color: rgb(152, 148, 148);
  white-space: nowrap;
}
.digitalWrapper {
  display: grid;
  position: sticky;
  top: 0;
  gap: 0.5rem;
  min-height: 100vh;
}

.hamburgContainer {
  position: absolute;
  inset: 0;
  z-index: 99;
  background-color: #000;
  color: white !important;
  width: 100%;
  height: 100%;
  transform-origin: top;
  overflow: hidden;
}

.hamburgLinks {
  list-style: none;
}
.hamburgLinks a {
  text-decoration: none;
  color: white;
  font-size: clamp(1.5rem, 1vw, 3rem);
  cursor: pointer;
  &:hover {
    transition: all 0.2s ease;
    text-decoration: underline;
  }
}

.hamburgTitle {
  display: flex;
  justify-content: space-between;
  padding-inline: 1.5rem;
  margin-top: 1rem;
  cursor: pointer;
}

.hamburgLinksContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin-block: auto;
  overflow: hidden;
  padding-bottom: 4rem;
}

.leftArrow {
  position: absolute;
  z-index: 2;
  background-color: #fff;
  top: 50%;
  left: -10px;
  border-radius: 30%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.rightArrow {
  position: absolute;
  z-index: 2;
  background-color: #fff;
  top: 50%;
  right: -10px;
  border-radius: 30%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.cardContents {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #000;
}
.cardContents > span {
  text-decoration: underline;
}

.card {
  position: relative;
  /* overflow: hidden; */
}

.cardContents {
  width: 240px;
  background: #fff;
  padding-inline: 2rem;
  padding-block: 1rem;
  margin-inline: auto;
  border-radius: 10px;
  position: absolute;
  bottom: -1rem;
  left: 0;
  right: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  opacity: 0;
  transition: opacity 1s 1s;
}

.card:hover .cardContents {
  opacity: 1;
  animation: show-content 1s forwards;
  transition: opacity 0.1s;
}

.card:hover {
  animation: remove-content 1s forwards;
}

.detailsWrapper {
  position: relative;
  height: 200vh;
  /* overflow: hidden; */
}
.details1 {
  background-color: black;
  width: 100%;
  min-height: 700px;
  position: sticky;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  top: 0;
}

.details2 img {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 2;
}

.mask,
.body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afa18f;
  font-size: 20px;
  line-height: 66px;
  cursor: default;

  p {
    width: 1000px;
    padding: 40px;
  }
  span {
    color: #ff1e00;
  }
}
.main {
  height: 100vh;
}
.mask {
  mask-repeat: no-repeat;
  mask-size: 40px;
  background: #ec4e39;
  position: absolute;
  color: black;
}

.navBlackScreen {
  width: 100%;
  min-height: 100vh;
  display: none;
  position: fixed;
  background-color: black;
  z-index: 10;
  overflow: hidden;
}
.navFirstScreen {
  position: absolute;
  width: 100%;
  background-color: black;
  top: 0;
  left: 0;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  overflow: hidden;

  z-index: 10;
}
.navSecondScreen {
  position: absolute;
  width: 100%;
  background-color: rgb(0, 0, 0);
  bottom: 0;
  left: 0;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  overflow: hidden;

  z-index: 10;
}
.navTextScreen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: white;
  font-size: clamp(2rem, 3.5vw, 6rem);
  cursor: default;
  z-index: 50;
  width: max-content;
  height: fit-content;
  text-transform: capitalize;
}

.portfolio {
  color: white;
  position: relative;
  z-index: 999;
}

.portfolioSection {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  gap: 2rem;
  padding-inline: 1rem;
}
.portfolioSection p {
  width: min(90vw, 50ch);
}
.portfolioSection img {
  width: 400px;
  aspect-ratio: 1;
  border-radius: 9px;
  object-fit: cover;
}

.portfolioHeader {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 1rem;
  z-index: 9999;
  background-color: rgb(0, 0, 0);
}

.portfolioHeader h2 {
  font-size: 2rem;
  color: orange;
  text-align: center;
}
.progressBar {
  height: 10px;
  background-color: white;
  border-radius: 9px;
}
.portfolioContent {
  display: grid;
  row-gap: 2rem;
}
.portfolioContent h2 {
  font-size: clamp(2rem, 2.5vw, 5rem);
  color: rgb(255, 0, 0);
}
.portfolioContent p {
  line-height: 2;
  text-wrap: pretty;
  font-size: clamp(1rem, 1.3vw, 3rem);
}
.homeImg {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

/* .heroVideo {
  width: 100vw;
}
.heroVideo video {
  width: 100%;
  height: 100vh;
} */

.heroVideo {
  position: relative;
  min-height: 100vh;
}
.hero {
  position: sticky;
  top: 0;
}

.logo {
  position: absolute;
  left: 20px;
  top: 20px;
  height: 100px;
  width: 150px;
  z-index: 99;
  object-fit: cover;
  background-color: transparent;
}
.navbar {
  position: absolute;
  top: 0;
  right: 120px;
  z-index: 99;
}
.navbar ul {
  list-style: none;
  display: flex;
  gap: 3rem;
  margin-top: 3.5rem;
}
.navbar ul li a {
  font-size: 1.3rem;
  color: white;
  text-decoration: none;
}
.navbar ul li a:hover {
  transition: all 0.4s ease;
  scale: 1.3;
}

.starsContainer {
  width: 100%;
  height: 100vh;
  inset: 0;
  background-color: #000000;
  overflow: hidden;
}

/* Marquee styles */
.marquee {
  --gap: 1rem;
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  /* border: 2px dashed lightgray; */
}

.marqueeContent {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
}

.marqueeContent img {
  max-width: 200px;
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.marqueeContent > * {
  flex: 0 0 auto;
  color: white;
  margin: 2px;
  padding: 1rem 1rem;
  border-radius: 0.25rem;
  text-align: center;
}

.marqueeItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.marquee ul {
  padding-left: 0;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes scroll-reverse {
  from {
    transform: translateX(calc(-100% - var(--gap)));
  }
  to {
    transform: translateX(0);
  }
}

.enableAnimation .marqueeContent {
  animation: scroll 15s linear infinite;
}
.marquee:hover .marqueeContent {
  animation-play-state: paused;
}
.enableAnimationReverse .marqueeContent {
  animation: scroll-reverse 15s linear infinite;
}

.navList a:hover,
a:active {
  color: #fff;
  transform: scale(1.2);
  text-shadow: 0 0 8px #958dba, 0 0 18px #aba2dc, 0 0 24px #a397dd;
}

.homeContact {
  max-width: 1200px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  gap: 3rem;
  color: #fff;
  overflow: hidden;
}

.homeContent p {
  width: min(50ch, 90vw);
}

.chatIcons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  position: fixed;
  bottom: 50px;
  left: 20px;
  z-index: 9999;
}
.phone {
  animation: infiniteScale 1s infinite ease-in-out;
}
.whatsapp {
  animation: infiniteScale 1.5s infinite ease;
}

@keyframes infiniteScale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.chatIcons .phone:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.chatIcons .whatsapp:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.chatbot img:hover {
  transform: scale(1.2);
}
.chatBotContainer {
  max-width: 350px;
  width: 100%;
  height: 500px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #fff;
  z-index: 999999;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
}
.chatbotHead {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  /* gap: 1.2rem; */
}
.chatbotHead svg:nth-child(1),
svg:nth-child(2) {
  cursor: pointer;
}
.chatContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: auto;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}
.chatbotInputContainer {
  margin-bottom: 1rem;
}

.chatbotInputs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-inline: 1rem;
  padding-top: 10px;
}
.chatbotInputs input {
  flex: 1;
  font-size: 1rem;
  padding: 6px;
  border-radius: 9px;
  outline: none;
  border: 1px solid gray;
}
.chatbotChats {
  width: 100%;
  height: 100vh;
  border: 1px solid black;
}

.botTextContainer {
  width: 100%;
}
.botText {
  width: 30ch;
  margin-left: 10px;
  padding: 1rem;
  border: 1px dotted gray;
  border-radius: 12px;
  text-wrap: pretty;
}
.customerText {
  max-width: 30ch;
  margin-right: 10px;
  padding: 1rem;
  border: 1px dotted gray;
  border-radius: 12px;
  text-wrap: pretty;
  background-color: #0071ff;
  color: white;
}
.customerTextContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.chatbot {
  width: 120px;
  height: 60px;
  position: fixed;
  border-radius: 12px;
  right: 10px;
  bottom: 60px;
  cursor: pointer;
  z-index: 9999;
  background-color: white;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: width 0.3s ease-in-out;
  overflow: hidden;
}

.chatbot:hover {
  width: 350px;
}

.chatbot img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.chatbot p {
  white-space: nowrap;
  font-size: 16px;
  margin: 0;
  color: #000;
}
.scrollReveal {
  min-height: 100vh;
  display: grid;
  place-content: center;
  color: white;
}

.scrollReveal h1 {
  width: min(90vw, 30ch);
  text-wrap: pretty;
}
.scrollReveal span {
  color: hsl(0 0% 100% / 0.2);
  background-image: linear-gradient(
    90deg,
    rgb(169, 63, 185),
    rgb(169, 63, 185)
  );
  background-clip: text;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  animation: scroll-reveal linear forwards;
  animation-timeline: view(y);
}

.scrollReveal h1 span {
  animation-range-start: cover 5vh;
  animation-range-end: contain 25vh;
}

.RowreversePortfolio {
  flex-direction: row-reverse;
}
.row {
  flex-direction: row;
}

@keyframes scroll-reveal {
  to {
    background-size: 100% 100%;
  }
}

.menuIcon {
  display: none;
}

.menuIcon svg {
  color: white;
}

@media (max-width: 960px) {
  .navList {
    display: none !important;
  }
  .menuIcon {
    display: inline-block;
  }
  .navbar {
    top: 80px;
    right: 60px;
  }
  .chatbot {
    right: 0;
  }
}
.portfolio {
  position: relative;
}
.earthContainer {
  min-height: 150vh;
  position: relative;
}

.earthContainer img {
  height: 100%;
  border: 1px solid red;
}

.earthTextContainer {
  position: absolute;
  z-index: 999;
  width: 100%;
  top: 0;
  color: white;
}
.titles {
  width: 100%;
  border-top: 1px solid grey;
}
.title {
  padding-left: 7rem;
  position: relative;
  border-bottom: 1px solid rgba(183, 171, 152, 0.25);
}

.titleWrapper {
  display: inline-block;
}

.title p {
  font-weight: 700;
  font-size: 8vw;
  line-height: 7.5vw;
  display: inline-block;
  text-transform: uppercase;
  position: relative;
  margin: 0;
  z-index: 2;
  color: #b7ab98;

  &:nth-child(2) {
    display: block;
    position: absolute;
    color: #1c1c1c;
    top: 0;
    z-index: 1;
  }
}
