.digitalContainer {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding-inline: 2rem;
}
.digitalImg {
  width: 600px;
  border-radius: 14px;
  aspect-ratio: 1.5;
  object-fit: cover;
}
.digitalContent {
  margin-block: 4rem;
}
.digitalContent > h2 {
  font-size: clamp(1rem, 3.5vw, 7rem);
  background: linear-gradient(90deg, #00ffa3, #0071ff, #5b00ff);
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 700;
  -webkit-text-fill-color: transparent;
}
.digitalContent h5 {
  font-size: clamp(1rem, 1.5vw, 3rem);
}
.card {
  display: grid;
  gap: 1rem;
  max-width: 300px;
  padding: 1.3rem;
  background-color: #ffffff;
  border-radius: 8px;
}
.card:hover {
  transition: all 0.3s ease;
  transform: scale(1.1);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.card > img {
  border-radius: 9px;
}
.card .buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.buttons button:nth-child(1) {
  padding-inline: 8px;
  padding-block: 7px;
  outline: none;
  border: none;
  border-radius: 8px;
  background-color: hsla(240, 2%, 11%);
  color: white;
  cursor: pointer;
  min-width: fit-content;
}
.buttons button:nth-child(1):hover {
  transition: all 0.2s ease;
  transform: scale(1.1);
}

.buttons button:nth-child(2):hover {
  transition: all 0.2s ease;
  transform: scale(1.1);
}

.buttons button:nth-child(2) {
  padding-inline: 8px;
  padding-block: 5px;
  outline: none;
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  cursor: pointer;
  background-color: #96d8c0;
}
.cards {
  margin-block: 6rem;
  background-color: hsla(250, 59%, 61%, 0.1);
  padding: 2rem;
}
.cards h2 {
  font-size: 2rem;
  display: flex;
  justify-content: center;
}
.imgGif {
  width: 500px;
  /* height: 400px; */
  aspect-ratio: 1;
  object-fit: cover;
}

.slideImgContainer {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}
.sliderImg {
  position: relative;
  height: 250px;
  width: 350px;
  display: flex;
  justify-content: center;
  border-radius: 9px;
  flex-shrink: 0;
  align-items: center;
}
.sliderImg img {
  object-fit: cover;
  border-radius: 9px;
  width: 100%;
  height: 100%;
}
.overlayContainer {
  position: absolute;
  inset: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay {
  position: absolute;
  background-color: black;
  opacity: 50%;
  pointer-events: none;
  height: 100%;
  width: 100%;
}

.slideWrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.cardWrapper {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 1rem;
}

.counterWrapper {
  display: flex;
  justify-content: space-evenly;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.counter span:nth-child(1) {
  font-size: clamp(1rem, 2vw, 4rem);
  font-weight: 500;
}
.counter span:nth-child(2) {
  font-size: clamp(1.5rem, 1.4vw, 4rem);
  font-weight: 400;
  color: rgb(152, 148, 148);
}
.digitalWrapper {
  display: grid;
  gap: 0.5rem;
}

.hamburgContainer {
  position: absolute;
  inset: 0;
  z-index: 99;
  background-color: yellow;
  width: 100%;
  height: 100vh;
}

@media (max-width: 700px) {
  .digitalContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sliderImg {
    width: 300px;
    height: 200px;
  }
  .buttons {
    flex-direction: column;
  }
}

@media (max-width: 1060px) {
  .cardWrapper {
    flex-wrap: wrap;
  }
}
